<!--
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sisal</title>
</head>

<body>
    <form>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="text", name="title">
        <input type="file", name="image">
        <button type="submit", value="Upload"> Subir diseño</button>
    </form>

</body>

</html>
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sisal</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/landing-page.css" rel="stylesheet">

    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/foundation/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="css/orbit.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/foundation/foundation-datepicker.css">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">

        <div class="container topnav">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Sisal</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="perfil.html"><span class="glyphicon glyphicon-user"></span> Tu perfil</a></li>
                    <li><a href="index.html"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
                </ul>
            </div>
         </div>
    </nav>

    <a  name="contacto"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Innova con tu idea:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <button type="button" class="btn btn-primary">Sube tu diseño</button>
                        </li>                        
                        <li>
                            <button type="button" class="btn btn-success">Mi galería</button>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>

        </div>

    </div>

    
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>

</html>

